.navbarStyles{
    background-color: var(--main-tr);
}


.navbar-toggler-icon {
    background-color: transparent;
    color: var(--light) !important;
    border: none;
    outline: none;
  }

  .navbarStyles .navbar-nav .nav-link {
    color: var(--light);
  }

  .logo{
    color: var(--light);
    background-color: transparent;
    border: none;
  }