.card{
    border-color:#9CFF1F ;
}

.cardBody{
    color:white;
    display: flex;
    flex-direction: column;
}

.button{
    background-color: #3c19ff;
    color: black;
    border-color: #9CFF1F;
}

.button:hover{
    background-color: #486cfa;
    color: black;
    border-color: #486cfa;
    justify-content: center;
}