#dropdown-basic{
    background-color: var(--background-color);
    border-color: var(--secondary);
}

.dropdownMenu{
    background-color: var(--medium);
    border-color: var(--secondary);
}

.item{
    background-color: var(--medium);
    color: var(--light);
}

.item:hover{
    background-color: var(--gaps);
    color: var(--light);;
}