.coderProfile-container{
    padding: 2rem;
}

.coderProfile-title{
    color: var(--secondary);
    margin: 2rem 1rem;
    font-size: 3rem;
    font-weight: 700;
}

.centerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 0;
}

@media (min-width:429px){
    .centerButton{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 25px 0 0;
    }

    .centerButton button{
        width: 250px;
        height: 55px;
    }
}