.titleContact{
    margin-top: 10px;
    height: 100px;
    display: flex;
    align-items: center;
}

h1{
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    padding: 0;
    background-color: var(--dark);

}

.placeholderStyle{
    background-color: #2e046d35;
    border-color:#9CFF1F;
    width: 330px;
    height: 200px;
}

.placeholderStyle:hover{
    background-color: #2e046d35;
}

.placeholderStyle::placeholder{
    background-color: #2e046d35;
}

.placeholderStyle:not(:placeholder-shown) {
    color: #2e046d35;
  }

.submitButton{
    align-self: center;  
    background-color:#9CFF1F;
    color: black;
    border-color: #9CFF1F;   
    border-radius: 30px;
    font-weight: bold;
    width: 13em;
    margin-bottom: 3em;
 }

.submitButton:hover{
    background-color:#D7FBAA;
    color: black;
    border-color: #D7FBAA;   
}

.coder.card {
    transform: scale(0.75);
}

.inputForm{
    color: black !important;
}

@media (min-width: 429px){
    .contactForm{
        width: 90%;
    }

    .inputForm{
        height: 150px !important;
        background-color: transparent !important;
        color: white !important;
    }

    .formCenter{
        display: flex;
        justify-content: center;
        margin-left: 200px;
    }
    
    .CenterSnippet{
        display: flex;
        justify-content: center;
    }
}
