h1{
    font-family: 'Poppins', sans-serif;
    font-size: 2,25rem;
}

button{
    font-family: 'Fira Code', monospace; 
}

nav{
    height: 10vh;
}

.hero{
    height: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title{
    width: 90%;
    height: 110px;
}
.title span{
    color: var(--secondary);
}

.caption{
    width: 90%;
    height: 103px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caption h6{
    color: var(--secondary);
    font-size: 1rem;
}

.buttonAdopta{
    border: none;
    background-color: var(--secondary);
    width: 150px;
    height: 33px;
    border-radius: 24px;
    color: black;
}