#dropdown-basic{
    background-color:#100648;
    border-color: #9CFF1F;
}

.dropdownMenu{
    background-color:#100648;
    border-color: #9CFF1F;
}


.item{
    background-color:#100648;
    color: white;
}

.item:hover{
    background-color:#210e8b;
    color: white;
}