.coderSnippet-container{
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;    
    margin-top: .5rem;
    padding: 2em;
    gap: 1em;
    width: 330px;
    border: 1px solid var(--secondary);
    border-radius: 5%;
}

.coderSnippet-info{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    align-items: center;
}

.coderSnippet-name{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.coderSnippet-area{
    color: var(--secondary);
    font-weight: 500;
    font-size: 20px;
}

.coderSnippets-experience{
    font-size: 18px;
    font-weight: 300;

}
.coderSnippet-button{
    font-size: 4rem;
}

.rounded-pill{
    font-size: 20px;
    margin-top: 0.5em;
    gap: .5rem;
    display: flex;
    align-items: center;
}

.coderSnippet-photo{
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    align-self: center;
}

@media (min-width: 429px){
    .coderSnippet-container{
        height: 240px;
        margin: 0;
        display: flex;
        padding: 1em 0;
        flex-direction: row;
        width: 50%;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 2rem;
    }

    .coderSnippet-photo{
        height: 12rem;
        width: 12rem;
    }
}