.bioDiv{
    margin-left: 0.5rem;
    margin-top: 1rem;
}

h2{
    color: var(--light);
}

.bioTxt{
    margin-top: 1.5rem;
    border: 1px solid var(--secondary);
    border-radius: 5%;
    padding: 1.5rem;
    color: var(--light);
    height: 12rem;
    width: 20rem;
    white-space: pre-wrap;
    overflow: auto;
    resize: auto;
    box-sizing: border-box;
    word-wrap: break-word;
 
}

@media (min-width: 429px){

    .bioTxt{
        width: 90%;
        border-radius: 2rem;
        background-color: transparent;
    }

}
