@import url(../src/Components/atom-button/atom-button.css);
@import url(../src/Components/atom-card/atom-card.css);
@import url(../src/Components/atom-dropdown/atom-dropdown.css);
@import url(../src/Components/atom-outlinedButton/atom-outlinedButton.css);
/*@import url(../src/assets/);*/

* {
    background-color: #100648;
}

:root{
    --header: rgb(46, 4, 109, 0.35);
    --main: #5011AD;
    --main-tr: rgb(80, 17, 173, 0.37);
    --secondary: #9CFF1F;
    --gaps: rgb(71, 84, 170, 0.37);
    --light: #E8F3FC;
    --dark: #000734;
}